.App{
  width:30%;
  height:100vh;
  background:#fafafa;
  position:relative;
  background:url(../invitation.png);
  background-size:cover;
}


.App header{
  padding-top:20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
}

h1{
  color:#bda691;
}

.container{
  width:100%;
  display:flex;
  justify-content:center;
}

.container-img{
  width:120px;
  height:120px;
}

.container-img img:first-child{
  border-radius:50%;
  padding: 8px;
  border:3px solid #Fff;
  animation: pulse 1s infinite;
}

section{
  display:flex;
  flex-direction:column;
  gap:20px;
  align-items:center;
  padding-top:30px;
}

.content-link{
  border:none;
  width:200px;
  border-radius:5px;
  padding: 10px;
  font-size: 18px;
  background:#FCE3DC;
  cursor:pointer;
  display: flex;
  color:#744118;
  transition:.3s ease-in;
  justify-content: center;
}

.confirmar{
  display: flex;
  justify-content:flex-start;
  gap:20px;
  align-items:center!important;
  padding-right:10px!important;
}

.content-link span{
  background:#666;
  padding:10px;
}

.content-link:hover{
  opacity:.6;
}

footer{
  padding: 10px;
  color: #fff;
  font-weight: 500;
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
}

ul{
  padding-top:20px;
  padding-bottom:20px;
  list-style: none;
  display:flex;
  flex-direction:column;
  gap:10px;
  height: 140px;
  background: #ccc;
  overflow-y: scroll;
  margin-top: 10px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul li img{
  padding: 3px;
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Media queries */
@media(max-width:600px){
  .App{ 
    width:100%!important;
  }
}