.App{
  width:30%;
  height:100vh;
  background:#fafafa;
  position:relative;
  background:url(../invitation.png);
  background-size:cover;
}


.App header{
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
}

nav {
  padding-left: 20px;
  padding-top: 10px;
}

h1{
  color:#bda691;
}

.container{
  width:100%;
  display:flex;
  justify-content:center;
}

.container-img{
  width:100px;
  height:100px;
}

.container-img div{
  position: absolute;
  background: lightyellow;
  padding: 17px;
  font-size: 12px;
  border-radius: 13px;
  width: 29%;
  top: 120px;
  left: 279px;
}

.container-img div:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: lightyellow transparent transparent transparent;
}

.container-img img:first-child{
  border-radius:50%;
  padding: 8px;
  border:3px solid #Fff;
  animation: pulse 1s infinite;
}

section{
  display:flex;
  flex-direction:column;
  gap:20px;
  align-items:center;
  padding-top:30px;
}

.content-link{
  border:none;
  width:200px;
  border-radius:5px;
  padding: 10px;
  font-size: 18px;
  background:#FCE3DC;
  cursor:pointer;
  display: flex;
  color:#744118;
  transition:.3s ease-in;
  justify-content: center;
}

.confirmar{
  display: flex;
  justify-content:flex-start;
  gap:20px;
  align-items:center!important;
  padding-right:10px!important;
}

.none{
  display:none;
}

.content-link span{
  background:#666;
  padding:10px;
}

.content-link:hover{
  opacity:.6;
}

footer{
  padding: 10px;
  color: #fff;
  font-weight: 500;
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
}

iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  z-index: 9999;
}

.modal span{
  color: #000;
  font-size: 40px;
  position: absolute;
  top: 0;
  z-index: 99999;
  right: 9px;
  top: 10px;
}

.gest-list{
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: .5s;
  left: -100vw;
  top: 0;
  bottom: 0;
}

.gest-list span:first-child{
  position: absolute;
  right: 22px;
  top: 20px;
}

.gest-list-active{
  transform: translate(100vw,0);
}

ul{
  padding-top:20px;
  padding-bottom:20px;
  list-style: none;
  display:flex;
  flex-direction:column;
  gap:10px;
  height:100%;
  background: #ccc;
  overflow-y: auto;
}

ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul li img{
  padding: 3px;
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Media queries */
@media(max-width:600px){
  .App{ 
    width:100%!important;
  }
}