.App{
  width:30%;
  height:100vh;
  background:#fafafa;
  position:relative;
  /* background:url(../invitation.png); */
  background:url(https://i.pinimg.com/originals/4e/50/b2/4e50b2d377174cc634157e068ce6087b.jpg);
  background-size:cover;
  background-position: center;
}


.App header{
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
}

nav {
  padding-left: 20px;
  padding-top: 10px;
}

h1{
  color:#bda691;
}

.container{
  width:100%;
  display:flex;
  justify-content:center;
}

.container-img{
  width:100px;
  height:100px;
}

.container-img div{
  position: absolute;
  /* background: lightyellow; */
  background:#999;
  padding: 17px;
  font-size: 12px;
  border-radius: 13px;
  width: 29%;
  top: 120px;
  left: 232px;
}

.container-img div:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 22px solid;
  border-color: #fff transparent transparent transparent;
}

.container-img img:first-child{
  border-radius:50%;
  padding: 8px;
  border:3px solid #Fff;
  animation: pulse 1s infinite;
}

section{
  display:flex;
  flex-direction:column;
  gap:20px;
  align-items:center;
  padding-top:30px;
}

.content-link{
  border:none;
  width:200px;
  border-radius:5px;
  padding: 10px;
  font-size: 18px;
  /* background:#FCE3DC; */
  background:#fff1e7;
  cursor:pointer;
  display: flex;
  color:#744118;
  transition:.3s ease-in;
  justify-content: center;
}

.confirmar{
  display: flex;
  justify-content:flex-start;
  gap:20px;
  align-items:center!important;
  overflow:hidden;
  padding-right:10px!important;
}

.none{
  display:none!important;
}

.content-link span{
  background:#666;
  padding:10px;
}

.content-link:hover{
  opacity:.6;
}

footer{
  padding: 10px;
  color: #fff;
  font-weight: 500;
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
}

iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  z-index: 9999;
}

.modal span{
  color: yellow;
  font-size: 40px;
  position: absolute;
  top: 0;
  z-index: 99999;
  right: 9px;
  top: 10px;
}

.gest-list{
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: .5s;
  left: -100vw;
  top: 0;
  bottom: 0;
}

.gest-list span:first-child{
  position: absolute;
  right: 22px;
  top: 20px;
}

.gest-list ul{
  padding:0;
}

.gest-list ul li.description{
  position:sticky;
  top:0;
  padding:20px;
  background: #fafafa;
  margin-bottom:10px;
}

.gest-list ul li:not(.description){
  padding-left:20px;
}

.gest-list-active{
  transform: translate(100vw,0);
}

ul{
  padding-top:20px;
  padding-bottom:20px;
  list-style: none;
  display:flex;
  flex-direction:column;
  gap:20px;
  height:100%;
  background: radial-gradient(circle at 5.3% 17.2%, rgb(255, 208, 253) 0%, rgb(255, 237, 216) 90%);
  overflow-y: auto;
}

ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

ul li img{
  padding: 3px;
  border: 2px solid #fafafa;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Media queries */
@media(max-width:600px){
  .App{ 
    width:100%!important;
  }
}

@keyframes  shadow-pulse-minor-shadow {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(162,95,236,.85);
      /* -webkit-box-shadow:0 0 0 0 rgba(37,208,111,.8); */
  }

  100% {
      -webkit-box-shadow: 0 0 0 13px rgba(91,0,236,.0);
  }
}

.container-img{
  border-radius:50%;
    animation: shadow-pulse-minor-shadow 1.9s infinite;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}



/* .container-img::before, .container-img::after {
  background: transparent;
  border: solid 1px #2bb24c;
  border-radius: 50%;
  content: '';
  height: 100%;
  left: -1px;
  position: absolute;
  top: -1px;
  transform-origin: center center;
  width: 100%; }

.container-img::before {
  animation: ripple 1.4s infinite; }

.container-img::after {
  animation: ripple 1.4s infinite;
  animation-delay: .8s; }


@-webkit-keyframes ripple {
  0% {
    opacity: .75;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(2); } }

@-moz-keyframes ripple {
  0% {
    opacity: .75;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(2); } }

@-o-keyframes ripple {
  0% {
    opacity: .75;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(2); } }

@keyframes ripple {
  0% {
    opacity: .75;
    transform: scale(1); }
  100% {
    opacity: 0;
    transform: scale(2); } 
} */